body {
  margin: 0;
}

.pane {
  height: 5vh;
  text-align: center;
  padding-top: 10px;
  background-color: #343a40;
}

.code-mirror-wrapper {
  height: 85vh;
}

.CodeMirror {
  min-height: 100% !important;
}